<h3>sign up to use bookmark manager</h3>

<form action="/signup" method="post">
  <ul>
    <input type="text" name="email" value="email">
    <input type="text" name="password" value="password">
    <input type="submit" name="submit" value="submit">
  </ul>

</form>
